# Credit Risk Resampling Techniques

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Read the CSV into DataFrame

In [7]:
# Load the data
file_path = Path('Resources/lending_data.csv')
df = pd.read_csv(file_path)
df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,own,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,own,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,rent,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,own,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,mortgage,53000,0.433962,5,1,23000,low_risk

In [8]:
# Fitting and encoding the columns with the LabelEncoder
le = LabelEncoder()

# Encoding homeowner column
le.fit(df["homeowner"])
df["homeowner"] = le.transform(df["homeowner"])

df.head()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,1,52800,0.431818,5,1,22800,low_risk
1,8400.0,6.692,1,43600,0.311927,3,0,13600,low_risk
2,9000.0,6.963,2,46100,0.349241,3,0,16100,low_risk
3,10700.0,7.664,1,52700,0.430740,5,1,22700,low_risk
4,10800.0,7.698,0,53000,0.433962,5,1,23000,low_risk

# Split the Data into Training and Testing

In [11]:
# Create our features
X= df.drop(columns="loan_status")

# Create our target
y=df["loan_status"]
X

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,1,52800,0.431818,5,1,22800
1,8400.0,6.692,1,43600,0.311927,3,0,13600
2,9000.0,6.963,2,46100,0.349241,3,0,16100
3,10700.0,7.664,1,52700,0.430740,5,1,22700
4,10800.0,7.698,0,53000,0.433962,5,1,23000
5,10100.0,7.438,0,50600,0.407115,4,1,20600
6,10300.0,7.490,0,51100,0.412916,4,1,21100
7,8800.0,6.857,0,45100,0.334812,3,0,15100
8,9300.0,7.096,1,47400,0.367089,3,0,17400
9,9700.0,7.248,2,48800,0.385246,4,0,18800
10,9300.0,7.085,1,47300,0.365751,3,0,17300
11,9200.0,7.015,1,46600,0.356223,3,0,16600
12,9200.0,7.043,1,46900,0.360341,3,0,16900
13,9400.0,7.101,0,47400,0.367089,3,0,17400
14,8400.0,6.703,0,43700,0.313501,3,0,13700
15,9400.0,7.136,0,47700,0.371069,3,0,17700
16,8900.0,6.897,1,45500,0.340659,3,0,15500
17,8300.0,6.648,0,43200,0.305556,2,0,13200
18,8000.0,6.539,0,42100,0.287411,2,0,12100
19,10200.0,7.460,2,50800,0.409449,4,1,20800
20,5200.0,5.326,0,30700,0.022801,0,0,700
21,9300.0,7.068,1,47100,0.363057,3,0,17100
22,7300.0,6.225,1,39200,0.234694,2,0,9200
23,9000.0,6.943,1,45900,0.346405,3,0,15900
24,8700.0,6.813,1,44700,0.328859,3,0,14700
25,8800.0,6.850,0,45100,0.334812,3,0,15100
26,8400.0,6.700,0,43700,0.313501,3,0,13700
27,7900.0,6.482,1,41600,0.278846,2,0,11600
28,9700.0,7.267,0,49000,0.387755,4,0,19000
29,8400.0,6.700,1,43600,0.311927,3,0,13600
...,...,...,...,...,...,...,...,...
77506,18100.0,10.801,0,82200,0.635036,11,2,52200
77507,18700.0,11.087,0,84900,0.646643,12,2,54900
77508,21900.0,12.426,1,97500,0.692308,15,3,67500
77509,19900.0,11.565,0,89400,0.664430,13,2,59400
77510,17000.0,10.356,1,78100,0.615877,10,2,48100
77511,15900.0,9.872,0,73500,0.591837,9,2,43500
77512,19200.0,11.265,0,86600,0.653580,12,2,56600
77513,20600.0,11.881,1,92400,0.675325,14,3,62400
77514,16600.0,10.169,1,76300,0.606815,10,2,46300
77515,18600.0,11.045,0,84500,0.644970,12,2,54500
77516,19700.0,11.509,1,88900,0.662542,13,2,58900
77517,18100.0,10.836,0,82600,0.636804,11,2,52600
77518,20300.0,11.747,1,91200,0.671053,13,3,61200
77519,17200.0,10.437,0,78800,0.619289,10,2,48800
77520,21400.0,12.216,0,95600,0.686192,14,3,65600
77521,20900.0,12.020,1,93700,0.679829,14,3,63700
77522,21700.0,12.363,1,96900,0.690402,15,3,66900
77523,20400.0,11.813,0,91800,0.673203,13,3,61800
77524,16900.0,10.302,1,77500,0.612903,10,2,47500
77525,20300.0,11.753,0,91200,0.671053,13,3,61200
77526,18300.0,10.895,0,83100,0.638989,11,2,53100
77527,20900.0,11.988,1,93400,0.678801,14,3,63400
77528,15100.0,9.557,2,70500,0.574468,9,2,40500
77529,19300.0,11.347,0,87400,0.656751,12,2,57400
77530,19700.0,11.508,0,88900,0.662542,13,2,58900
77531,19100.0,11.261,1,86600,0.653580,12,2,56600
77532,17700.0,10.662,0,80900,0.629172,11,2,50900
77533,17600.0,10.595,2,80300,0.626401,11,2,50300
77534,16300.0,10.068,0,75300,0.601594,10,2,45300
77535,15600.0,9.742,0,72300,0.585062,9,2,42300

In [12]:
X.describe()

,loan_size,interest_rate,homeowner,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,0.606144,49221.949804,0.377318,3.826610,0.392308,19221.949804
std,2093.223153,0.889495,0.667811,8371.635077,0.081519,1.904426,0.582086,8371.635077
min,5000.000000,5.250000,0.000000,30000.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,0.000000,44800.000000,0.330357,3.000000,0.000000,14800.000000
50%,9500.000000,7.172000,1.000000,48100.000000,0.376299,4.000000,0.000000,18100.000000
75%,10400.000000,7.528000,1.000000,51400.000000,0.416342,4.000000,1.000000,21400.000000
max,23800.000000,13.235000,2.000000,105200.000000,0.714829,16.000000,3.000000,75200.000000

In [15]:
# Check the balance of our target values
y.value_counts()

low_risk     75036
high_risk     2500
Name: loan_status, dtype: int64

In [16]:
# Create X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(58152, 8)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [17]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [18]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [19]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Simple Logistic Regression

In [20]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [21]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.9543211898288821

In [22]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[  571,    54],
       [   93, 18666]], dtype=int64)

In [23]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.91      1.00      0.89      0.95      0.90       625
   low_risk       1.00      1.00      0.91      1.00      0.95      0.92     18759

avg / total       0.99      0.99      0.92      0.99      0.95      0.92     19384

# Oversampling

In this section, you will compare two oversampling algorithms to determine which algorithm results in the best performance. You will oversample the data using the naive random oversampling algorithm and the SMOTE algorithm. For each algorithm, be sure to complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Print the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

### Naive Random Oversampling

In [26]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler

# View the count of target classes with Counter

rando_samp = RandomOverSampler(random_state=1)
X_resampled_rando, y_resampled_rando = rando_samp.fit_resample(X_train_scaled, y_train)
Counter(y_resampled_rando)

Counter({'low_risk': 56277, 'high_risk': 56277})

In [27]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model_rando = LogisticRegression(solver='lbfgs', random_state=1)
model_rando.fit(X_resampled_rando, y_resampled_rando)

LogisticRegression(random_state=1)

In [30]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score

y_pred_rando = model_rando.predict(X_test_scaled)

bas_rando=balanced_accuracy_score(y_test, y_pred_rando)
print(bas_rando)

0.9946414201183431

In [31]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix

cm_rando = confusion_matrix(y_test, y_pred_rando)
cm_df_rando = pd.DataFrame(
    cm_rando, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_rando

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                  622                   3
Actual Low Risk                   111               18648

In [32]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced

print(classification_report_imbalanced(y_test, y_pred_rando))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

### SMOTE Oversampling

In [33]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE

# View the count of target classes with Counter

X_resampled_smote, y_resampled_smote = SMOTE(random_state=1, sampling_strategy=1.0).fit_resample(
    X_train_scaled, y_train
)
from collections import Counter

Counter(y_resampled_smote)

Counter({'low_risk': 56277, 'high_risk': 56277})

In [35]:
# Train the Logistic Regression model using the resampled data
mod_smote = LogisticRegression(solver='lbfgs', random_state=1)
mod_smote.fit(X_resampled_smote, y_resampled_smote)

LogisticRegression(random_state=1)

In [37]:
# Calculated the balanced accuracy score
y_predsmote = mod_smote.predict(X_test_scaled)
balance_smote=balanced_accuracy_score(y_test, y_predsmote)
print(balance_smote)

0.9946414201183431

In [39]:
# Display the confusion matrix
confusion_smote = confusion_matrix(y_test, y_predsmote)
confusion_df_smote = pd.DataFrame(
    confusion_smote, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
confusion_df_smote

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                  622                   3
Actual Low Risk                   111               18648

In [47]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_predsmote))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

# Undersampling

In this section, you will test an undersampling algorithm to determine which algorithm results in the best performance compared to the oversampling algorithms above. You will undersample the data using the Cluster Centroids algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [49]:
# Resample the data using the ClusterCentroids resampler
from imblearn.under_sampling import ClusterCentroids

# View the count of target classes with Counter
centroids = ClusterCentroids(random_state=1)
X_resampled_cc, y_resampled_cc = centroids.fit_resample(X_train_scaled, y_train)

from collections import Counter

Counter(y_resampled_cc)

Counter({'high_risk': 1875, 'low_risk': 1875})

In [50]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model_centroids = LogisticRegression(solver='lbfgs', random_state=1)
model_centroids.fit(X_resampled_cc, y_resampled_cc)

LogisticRegression(random_state=1)

In [53]:
# Calculate the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_centroids = model_centroids.predict(X_test_scaled)
bas_centroid=balanced_accuracy_score(y_test, y_centroids)
print(bas_centroid)

0.9932813049736127

In [55]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm_centroid = confusion_matrix(y_test, y_centroids)
cm_df_centroid = pd.DataFrame(
    cm_centroid, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_centroid

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                  620                   5
Actual Low Risk                   102               18657

In [56]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_centroids))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.86      0.99      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      0.99      1.00      0.99      0.99     18759

avg / total       1.00      0.99      0.99      0.99      0.99      0.99     19384

# Combination (Over and Under) Sampling

In this section, you will test a combination over- and under-sampling algorithm to determine if the algorithm results in the best performance compared to the other sampling algorithms above. You will resample the data using the SMOTEENN algorithm and complete the folliowing steps:

1. View the count of the target classes using `Counter` from the collections library. 
3. Use the resampled data to train a logistic regression model.
3. Calculate the balanced accuracy score from sklearn.metrics.
4. Display the confusion matrix from sklearn.metrics.
5. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.

Note: Use a random state of 1 for each sampling algorithm to ensure consistency between tests

In [58]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN

# View the count of target classes with Counter
smotenn = SMOTEENN(random_state=0)
X_resampled_se, y_resampled_se= smotenn.fit_resample(X_train_scaled, y_train)
Counter(y_resampled_se)

Counter({'high_risk': 55629, 'low_risk': 55913})

In [59]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model_resampled= LogisticRegression(solver='lbfgs', random_state=1)
model_resampled.fit(X_resampled_se, y_resampled_se)

LogisticRegression(random_state=1)

In [61]:
# Calculate the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred_se = model_resampled.predict(X_test_scaled)
bas_resample=balanced_accuracy_score(y_test, y_pred_se)
print(bas_resample)

0.9946414201183431

In [63]:
# Display the confusion matrix
confusion_se = confusion_matrix(y_test, y_pred_se)
confusion_df_se = pd.DataFrame(
    confusion_se, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
confusion_df_se

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                  622                   3
Actual Low Risk                   111               18648

In [64]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred_se))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.85      1.00      0.99      0.92      0.99      0.99       625
   low_risk       1.00      0.99      1.00      1.00      0.99      0.99     18759

avg / total       0.99      0.99      1.00      0.99      0.99      0.99     19384

# Final Questions

1. Which model had the best balanced accuracy score?

   YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

In [67]:
#1) All of the models had the same balanced accuracy score. 
#2) All of the models had the same best recall score which is better than the original data.
#3) All had similar geometric mean scores.